fastapi
uvicorn
google-cloud-storage
google-cloud-firestore
google-cloud-vision
google-cloud-documentai
pinecone
langchain
langchain-community
langchain-core
langchain-anthropic
langchain-google-vertexai
langchain-tavily
langchain-pinecone
langgraph
langsmith
anthropic
python-dotenv
tiktoken
unstructured[all] 
pydantic
markitdown
pandas
markdown
PyPDF2
python-docx
pytesseract
huggingface-hub 
python-multipart 
typing-extensions

# gcloud auth login
# gcloud config set project h2s-legal
# gcloud auth application-default set-quota-project