fastapi
uvicorn[standard]

psycopg2-binary
sqlalchemy
alembic

google-cloud-storage
google-cloud-documentai
google-cloud-vision

langchain
langchain-anthropic
langchain-pinecone
pinecone-client
langgraph
langsmith

PyPDF2
python-docx
pytesseract

openpyxl
python-dotenv
python-multipart
httpx

pytest
pytest-asyncio

# fastapi
# uvicorn[standard]
# google-cloud-storage
# google-cloud-firestore
# google-cloud-vision
# google-cloud-documentai
# pinecone
# langchain
# langchain-community
# langchain-core
# langchain-anthropic
# langchain-google-vertexai
# langchain-tavily
# langchain-pinecone
# langgraph
# langsmith
# anthropic
# python-dotenv
# tiktoken
# unstructured[all] 
# pydantic
# markitdown
# pandas
# markdown
# PyPDF2
# python-docx
# pytesseract
# huggingface-hub 
# python-multipart 
# typing-extensions
